* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  margin-bottom: 100em; }

a {
  color: inherit; }

main .layanan_kami .card-layanan {
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 0.432);
  border-radius: 10px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.048);
  transition: all 0.6s ease-in-out; }
  main .layanan_kami .card-layanan:hover {
    box-shadow: 5px 10px rgba(0, 0, 0, 0.514); }
